<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <template>
      <section class="guesser-container">
        <article class="message">
          <h1 class="title">
            Number <span>Guesser</span>
          </h1>

          <p class="range">
            Enter a guess between {{min}} and {{max}}
          </p>
        </article>
        <article class="game-body container">

          <input v-model="userGuess" type="number" @keyup.enter="submitGuess" class="input input--guess" placeholder="enter your guess"
            ref="userGuess" />

          <div class="wrapper wrapper--range">
            <label for="minInput">
              Min
              <input v-model="min" id="minInput" class="input input--range" type="number" @blur="getNewRandom" />
            </label>

            <label for="maxInput">
              Max
              <input v-model="max" id="maxInput" class="input input--range" type="number" @blur="getNewRandom" />
            </label>
          </div>

          <div class="wrapper wrapper--buttons">
            <button @click="submitGuess" class="btn btn--submit" :disabled="!userGuess">
              Submit
            </button>

            <button @click="clearInput" class="btn btn--clear" :disabled="!userGuess">
              Clear
            </button>
          </div>

          <article class="guess--output" v-if="lastGuess">
            Your last guess was
            <span>{{lastGuess}}</span>
          </article>
          <article class="guess--output" v-if="!lastGuess">
            <span>??</span>
          </article>

          <p v-show="guessResult" class="guess--result">
            {{ guessResult }}
          </p>

          <button @click="resetGame" class="btn btn--reset" :disabled="level <= 1">
            Reset
          </button>

        </article>

      </section>
    </template>
  </div>
  <script>
    const GUESS_ISNAN = 'That was not a number.  Please enter a number';
    const GUESS_ISHIGH = 'That was too high';
    const GUESS_ISLOW = 'That was too low';

    const app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        randomNumber: Math.round(Math.random() * (100 - 1) + 1),
        userGuess: '',
        guessResult: '',
        lastGuess: 0,
        min: 0,
        max: 100,
        level: 1,
      },
      mounted() {
        this.getNewRandom();
      },

      methods: {
        submitGuess() {
          this.evaluateGuess();
          this.clearInput();
          this.$refs.userGuess.focus();
        },

        clearInput() {
          this.$data.userGuess = '';
        },

        getNewRandom() {
          const max = parseInt(this.max, 10);
          const min = parseInt(this.min, 10);

          if (min > max) {
            this.guessResult = 'Please enter a valid range';
            return null;
          }

          // eslint-disable-next-line
          const newRando = Math.round(Math.random() * (max - min) + min);
          this.rando = newRando;

          return null;
        },

        evaluateGuess() {
          this.lastGuess = this.userGuess;
          const intGuess = parseInt(this.userGuess, 10);
          const { rando } = this;
          if (isNaN(intGuess)) {
            this.guessResult = GUESS_ISNAN;
          }
          if (intGuess > rando) {
            this.guessResult = GUESS_ISHIGH;
          }
          if (intGuess < rando) {
            this.guessResult = GUESS_ISLOW;
          }
          if (intGuess === rando) {
            this.gameWon();
          }
        },

        gameWon() {
          this.guessResult = 'You Guessed It, min range decreased, max range increased!';
          this.min -= 10;
          this.max += 10;
          this.level += 1;
          this.getNewRandom();
        },

        resetGame() {
          this.lastGuess = 0;
          this.guessResult = '';
          this.min = 0;
          this.max = 100;
          this.level = 1;
        },
      },
    })
  </script>
</body>

</html>